{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Accueil</title>
    <link rel="stylesheet" href="{% static 'accueil/style.css' %}">
    <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>
  <div class="container">
    <div class="card">
    <h1>{{ message }}</h1>

      <hr>
      <h2>Ma liste de tâches</h2>
      <ul class="tache-list">
          {% for tache in taches %}
              <li>
                  <div class="left">
                      <span class="tache-title">{{ tache.titre }}</span>
                  </div>
                  {% if tache.termine %}
                      <span class="tache-termine" title="Terminée">✓</span>
                  {% else %}
                      <span class="tache-non-termine" title="Non terminée">✗</span>
                  {% endif %}
              </li>
          {% empty %}
              <li>Aucune tâche pour le moment</li>
          {% endfor %}
      </ul>

      <hr>

      <!-- Formulaire pour ajouter une nouvelle tâche -->
      <h3>Ajouter une tâche</h3>
      <form method="post" action="{% url 'ajouter_tache' %}">
          {% csrf_token %}
          {{ tache_form.as_p }}
          <button type="submit">Ajouter Tâche</button>
      </form>

      <!-- Le formulaire de saisie du nom a été retiré. -->
    </div>
  </div>
</body>
</html>
